<div class="social-wrap">
    AstiCodes.dev
    <ul>
        <li><a href="https://www.linkedin.com/in/anastasiiaasti/" target="_blank" class="cursor-link">L</a></li>
        <li><a href="https://github.com/AnastasiiaAsti" target="_blank" class="cursor-link">G</a></li>
        <li><a href="https://asticodes.dev" target="_blank" class="cursor-link">W</a></li>
    </ul>
</div>
</div>

<!-- JAVASCRIPT
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/custom.js"></script>
<!-- End Document
================================================== -->
</body>

</html>