<div class="social-wrap">
    follow us
    <ul>
        <li><a href="#" class="cursor-link">fb</a></li>
        <li><a href="#" class="cursor-link">tw</a></li>
        <li><a href="#" class="cursor-link">be</a></li>
    </ul>
</div>
</div>

<!-- JAVASCRIPT
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/custom.js"></script>
<!-- End Document
================================================== -->
</body>

</html>