<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#212121" />
    <meta name="msapplication-navbutton-color" content="#212121" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121" />
    <!-- Web Fonts 
  ======================================================= -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <!-- CSS
	================================================== -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/animsition.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="over-hide">
    <!-- Page preloader wrap
	================================================== -->
    <div class="animsition">
        <!-- Nav and Logo
		================================================== -->

        <header class="cd-header">
            <div class="header-wrapper">
                <div class="logo-wrap">
                    <a href="#" class="cursor-link animsition-link">
                        <h4>he·don·is·tic</h4>
                    </a>
                </div>
                <div class="nav-but-wrap">
                    <div class="menu-icon cursor-link">
                        <span class="menu-icon__line menu-icon__line-left"></span>
                        <span class="menu-icon__line"></span>
                        <span class="menu-icon__line menu-icon__line-right"></span>
                    </div>
                </div>
            </div>
        </header>

        <div class="nav">
            <div class="nav__content">
                <ul class="nav__list">
                    <li class="nav__list-item active-nav"><a data-toggle="collapse" href="#collapseSub"
                            class="cursor-link" role="button" aria-expanded="false" aria-controls="collapseSub">veggies
                            all day
                        </a>
                        <ul class="sub-links collapse" id="collapseSub">
                            <!-- <li class="active-nav"><a href="#" class="cursor-link animsition-link">breakfast</a></li>
                            <li><a href="#" class="cursor-link animsition-link">lunch</a></li>
                            <li><a href="#" class="cursor-link animsition-link">dinner</a></li>
                            <li><a href="#" class="cursor-link animsition-link">snacks</a></li>
                            <li><a href="#" class="cursor-link animsition-link">celebration</a></li> -->
                        </ul>
                    </li>
                    <li class="nav__list-item"><a href="#" class="cursor-link animsition-link">grandma's favorites</a>
                    </li>
                    <li class="nav__list-item"><a href="#" class="cursor-link animsition-link">soup it, like a
                            Parisienne would</a>
                    </li>
                    <li class="nav__list-item"><a href="#" class="cursor-link animsition-link">spanish
                            tapas</a></li>
                    <li class="nav__list-item"><a href="#" class="cursor-link animsition-link">ayurveda</a></li>
                    <li class="nav__list-item"><a href="#" class="cursor-link animsition-link">cocktail lounge</a></li>
                </ul>
            </div>
        </div>