<%- include('../partials/header') %>

    <div class="section padding-page-top padding-bottom over-hide background-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-12 section-title-wrap text-center parallax-fade-top">
                    <p>“You can live to be a hundred if you give up all the things that make you want to live to be a
                        hundred.”</p>
                    <h1>Grandma's<br>favorites</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section padding-bottom over-hide background-dark-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="portfolio-filter" class="portfolio-filter">
                        <!-- <ul id="filter">
                        <li><a href="#" class="current cursor-link" data-filter="*" title="">all</a></li>
                        <li><a href="#" class="cursor-link" data-filter=".branding" title="">alcoholic</a></li>
                        <li><a href="#" class="cursor-link" data-filter=".photo" title="">tea</a></li>
                        <li><a href="#" class="cursor-link" data-filter=".motion" title="">coffee</a></li>
                    </ul> -->
                    </div>
                </div>
            </div>
        </div>

        <div id="projects-grid">
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-1"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box photo">
                    <img src="images/cocktails/drink1.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-2"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box motion">
                    <img src="images/cocktails/drink2.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-3"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box branding">
                    <img src="images/cocktails/drink3.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-4"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box photo">
                    <img src="images/cocktails/drink4.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-1"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box motion">
                    <img src="images/cocktails/drink1.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-2"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box branding">
                    <img src="images/cocktails/drink2.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-3"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box photo">
                    <img src="images/cocktails/drink3.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-4"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box motion">
                    <img src="images/cocktails/drink4.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
            <a href="" class="cursor-link animsition-link tipped" data-title="drink-1"
                data-tipper-options='{"direction":"top","follow":"true","margin":30}'>
                <div class="portfolio-box photo">
                    <img src="images/cocktails/drink1.jpg" alt="">
                    <div class="portfolio-mask"></div>
                </div>
            </a>
        </div>
    </div>
    <%- include('../partials/footer') %>