<%- include('partials/header') %>
  <!-- Primary Page Layout
		================================================== -->
  <div class="section full-height over-hide background-dark-2">
    <ul class="case-study-wrapper">
      <li class="case-study-name">
        <span>Cocktail lounge</span> <a href="/cocktails" class="ml-2 cursor-link animsition-link"><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="case-study-name">
        <span>Veggies all day</span> <a href="/veggies" class="ml-2 cursor-link animsition-link"><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="case-study-name">
        <span>Grandma's favorites</span> <a href="/grandmas" class="ml-2 cursor-link animsition-link"><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="case-study-name">
        <span>Soup it</span> <a href="/soups" class="ml-2 cursor-link animsition-link"><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="case-study-name">
        <span>Spanish
          tapas</span> <a href="/tapas" class="ml-2 cursor-link animsition-link"><i class="fa fa-arrow-right"></i><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
      <li class="case-study-name">
        <span>Ayurveda</span> <a href="/ayurvedas" class="ml-2 cursor-link animsition-link"><i
            class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-right"></i></a>
      </li>
    </ul>
    <ul class="case-study-images">
      <li>
        <div class="img-hero-background" style="background-image: url('images/bg.jpg');"></div>
        <div class="dark-over-hero"></div>
        <div class="hero-number-back">01</div>
        <div class="hero-number">01</div>
        <div class="hero-number-fixed">06</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('images/veggies.jpg');"></div>
        <div class="hero-number-back">02</div>
        <div class="hero-number">02</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('images/grandma.jpg');"></div>
        <div class="hero-number-back">03</div>
        <div class="hero-number">03</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('images/soup.jpg');"></div>
        <div class="hero-number-back">04</div>
        <div class="hero-number">04</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('images/spain.jpg');"></div>
        <div class="hero-number-back">05</div>
        <div class="hero-number">05</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('images/ayurveda.jpg');"></div>
        <div class="hero-number-back">06</div>
        <div class="hero-number">06</div>
      </li>
    </ul>
  </div>
  <%- include('partials/footer') %>