<%- include('partials/header') %>
  <!-- Primary Page Layout
		================================================== -->
  <div class="section full-height over-hide background-dark-2">
    <div class="case-study-name-title">topics</div>
    <ul class="case-study-wrapper">
      <li class="case-study-name">
        <span>Reconstype</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
      <li class="case-study-name">
        <span>Kresios</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
      <li class="case-study-name">
        <span>Cioccolati</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
      <li class="case-study-name">
        <span>Maybach</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
      <li class="case-study-name">
        <span>Anwis Stuttgart</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
      <li class="case-study-name">
        <span>Brand Center</span> <a href="project.html" class="cursor-link animsition-link">explore</a>
      </li>
    </ul>
    <ul class="case-study-images">
      <li>
        <div class="img-hero-background" style="background-image: url('images/bg.jpg');"></div>
        <div class="dark-over-hero"></div>
        <div class="hero-number-back">01</div>
        <div class="hero-number">01</div>
        <div class="hero-number-fixed">06</div>
        <div class="case-study-title">graphic Design, typography, interaction</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('img/4.jpg');"></div>
        <div class="hero-number-back">02</div>
        <div class="hero-number">02</div>
        <div class="case-study-title">advertising, art direction</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('img/1.jpg');"></div>
        <div class="hero-number-back">03</div>
        <div class="hero-number">03</div>
        <div class="case-study-title">art direction, photography, retouching</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('img/5.jpg');"></div>
        <div class="hero-number-back">04</div>
        <div class="hero-number">04</div>
        <div class="case-study-title">photography, advertising, fine arts</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('img/2.jpg');"></div>
        <div class="hero-number-back">05</div>
        <div class="hero-number">05</div>
        <div class="case-study-title">architecture, exhibition design</div>
      </li>
      <li>
        <div class="img-hero-background" style="background-image: url('img/6.jpg');"></div>
        <div class="hero-number-back">06</div>
        <div class="hero-number">06</div>
        <div class="case-study-title">interior design</div>
      </li>
    </ul>
  </div>
  <%- include('partials/footer') %>