<%- include('../partials/header') %>



    <div class="section big-55-height over-hide">
        <div class="parallax parallax-top" style="background-image: url('<%= soup.photo %>')"></div>
        <div class="dark-over-pages"></div>

        <div class="hero-center-section">
            <div class="container z-bigger">
                <div class="row">
                    <div class="col-12 section-title-wrap text-center parallax-fade-top-pages">
                        <p></p>
                        <h1>
                            <%= soup.label %>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('../partials/footer') %>